
@media(max-width:991px){
.experience{
left: 210px !important;
}
.about-bottom{
    gap: 10px !important;
}
.left-content{
    padding: 30px !important;
}
.image-side{
    padding: 0 60px;
}
.circle-badge{
    left: 0px !important;
}
.banner-text{
   display: none;
}
.product-hero-content{
        position: absolute !important;
    top: 100px !important;   
    right: 0 !important;
}
.navbar .offcanvasbtn{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

/**************** home page *******************/
.nav-glass{
    display: block;
background: transparent;
backdrop-filter: none;
border: none;
padding: 0;
}

footer{
    text-align: center;
}
.nav-link{
color:black !important;
font-size:16px !important;
}

.nav-link.active{
color:#ff9f1c !important;
}
.hero{
    width: 100% !important;
  height: 30vh !important;
}
.hero-img{
    width: 100% !important;
  height: 30vh !important;
}
.quote{
    padding: 80px 40px;
}
.faq{
    padding: 50px 40px;
}
.hero-section{
 min-height:190px !important;
background-position:center !important;
}
.banner-title{
    font-size: 15px !important;
}
.breadcrumb-text{
    font-size: 10px !important;
}

.feature-section .feature-box{
    padding: 15px;
}
.hero .hero-content h1{
    font-size: 30px !important;
}
.hero .hero-content{
    top: 60% !important;
}


}

@media(max-width:540px){
    .hero .hero-content h1{
    font-size: 20px !important;
}

.faq-image{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    background-size: contain;
}
.faqcontact-box{
    position: absolute;
      left: 20px !important;
    font-size: 10px !important;
    gap: 15px !important;
}
.approachhero-title{
    font-size: 28px !important;
}
.mission-content{
    padding: 20px !important;
}
.team-section .history-title{
    font-size: 20px !important;
}
.product-detail-img{
    height: 270px !important;
}
.breadcrumb-text .dot i{
    font-size: 8px !important;
}
.hero-content{
    left: 0 !important;
}
.contact-form-card{
    margin: 5px !important;
}
}
@media(max-width:370px){
   .faq-image{
    width: 250px;
    height: 250px;
   }
   .faqcontact-box{
    font-size: 8px !important;
   }
   .img-top{
    width:160px !important;
   }
   .img-main{
    width: 250px !important;
    top: 80px !important;
   }
   .experience{
    left: 185px !important;
    top: 10px !important;
   }
}
@media(max-width:1024px){
.about-bottom{
    gap: 5px !important;
}
}


@media(max-width:991px){
    .image-col{
margin-bottom:120px !important;
min-height:400px !important;
}

.img-top{
left:20px !important;
width:180px !important;
}

.img-main{
left:80px !important;
width:280px !important;
}

.content-col{
padding-left:0 !important;
text-align:center !important;
}

.about-bottom{
justify-content:center !important;
}

.approach-title{
font-size:32px !important;
}

.approach-text{
margin-top:20px !important;
}

.approach-card{
margin-top:40px !important;
}

.history-title{
font-size:32px !important;
}

.company-title{
margin-top:30px !important;
}

.timeline-card{
margin-bottom:30px !important;

}
}
