:root{
    --primary-color: #ff9900;
  --secondary-color: #222;
  --text-color: #ff9900;
  --border-radius: 10px;
}
html, body{
    overflow-x: hidden;
}
/*.hero{
background:url('/hero.png') center/cover no-repeat;
height:100vh;
position:relative;
color:white;
display:flex;
align-items:center;
}*/

.hero{
height:100vh;
position:relative;
overflow:hidden;
}

.hero-img{
height:100vh;
object-fit:cover;
}

#heroCarousel .carousel-indicators{
z-index:3;
}
.hero-overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
z-index:1;
}

.hero-content{
position:absolute;
top:50%;
left: 5%;
transform:translateY(-50%);
z-index:2;
color:white;
}


.btn-orange{
background:var(--primary-color);
color:white;
border:none;
}

.textstyle{
    color: var(--text-color);
}
.story{
background:#0f233d;
color:white;
padding:70px 0;
}

.counter-box{
background:#586467;
padding:25px;
text-align:center;
border-radius:8px;
border: 1px solid var(--text-color);
}


.product-card{
border:none;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
border-radius:10px;
}

.product-card img{
height:180px;
object-fit:contain;
padding:20px;
}
.card-body{
    text-align: center;
}

.blog img{
border-radius:15px;
height:200px;
object-fit:cover;
}

.arrow-icon{
    font-size: 12px;
}
.testimonial{
background:#f7f7f7;
position: relative;
padding:70px 0;
}

.testimonial-box{
background:white;
padding:20px;
border-radius:15px;
max-width:700px;
margin:auto;
text-align:center;
margin-bottom: 40px;
position: relative;
}

#carouselExampleIndicators .carousel-indicators{
bottom:-40px;
}

#carouselExampleIndicators .carousel-indicators button{
background-color:#000;
width:10px;
height:10px;
border-radius:50%;
}

.faq{
background:#0f233d;
color:white;
padding:50px 0;
}

.quote{
background:url('./assets/Rectangle\ 34.png') center/cover no-repeat;     
padding:80px 0;
position:relative;
}
/*
.quote-overlay{
background:rgba(0,0,0,0.1);
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
} */

.quote-content{
position:relative;
z-index:2;
color:white;
}


.faq-image-card{
position:relative;
border-radius:25px;
overflow:hidden;
}
.faqcontact-box{
position:absolute;
bottom:20px;
left:60px;
display:flex;
gap:40px;
color:#fff;
font-size:16px;
}

.faqcontact-item{
display:flex;
align-items:center;
gap:10px;
}

.faqicon{
color:#ff9c00;
font-size:15px;
}

footer{
background:#13294b;
color:white;
padding:50px 0;
}
.list-unstyled li{
margin-bottom: 8px;
}
.custom-navbar{
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 10;
background: transparent;
padding: 20px 0;
}
.nav-glass{
margin-left:auto;
padding:10px 25px;
border-radius:40px;
display: flex;
flex-direction: row;
background:linear-gradient(
90deg,
rgba(255,150,50,0.35),
rgba(255,255,255,0.08),
rgba(180,200,220,0.35)
);

backdrop-filter:blur(14px);
border:1px solid rgba(255,255,255,0.25);
}

.nav-link{
color:white !important;
font-size:16px;
}

.nav-link.active{
color:#ff9f1c !important;
}

.contact-glass{
    background:linear-gradient(
90deg,
rgba(255,150,50,0.35),
rgba(255,255,255,0.08),
rgba(180,200,220,0.35)
);

backdrop-filter:blur(14px);
border:1px solid rgba(255,255,255,0.25);
}

.contact-glass .form-control{
    background: transparent !important;
    color:#ddd !important;
}
.form-control::placeholder{
    color: #ddd;
}
input{
    color:#ddd;
}
.note{
    font-size: 12px;
}
input[type="file"]::file-selector-button{ 
    background: transparent !important;
    color: white;
}
.form-control,
.form-control:focus {
  background: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgba(255,255,255,0.5) !important;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}
.accordion-collapse{
    background-color:var(--primary-color);
    color: #fff;
}
#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  display: none;
  z-index: 999;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  display: none;
  z-index: 999;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ddd;
  width: 45px;
  height: 45px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.faq-image{
    width: 500px;
    height: 300px;
}
@media (max-width: 991px) {
.nav-glass{
    display: block;
background: transparent;
backdrop-filter: none;
border: none;
padding: 0;
}
.hero{
    height: 60vh;
}
.hero-img{
    height: 60vh;
  
}
.nav-link{
color:black!important;
font-size:16px;
}

.nav-link.active{
color:#ff9f1c !important;
}
footer{
    text-align: center;
}

.quote{
    padding: 80px 40px;
}
.faq{
    padding: 50px 40px;
}
.faq-image{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;

}

}


/*************************   ABOUT US PAGE *****************************/

.hero-section{
height:350px;
background:url(/assets/Container\ \(1\).png) center/cover no-repeat;
position:relative;
}

.hero-section::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.hero-section .container{
position:relative;
z-index:2;
}

.about-industrial{
background:#fff;
color:#000;
position:relative;
overflow:hidden;
}

.image-col{
min-height:500px;
}

.img-top{
width:220px;
border-radius:20px;
position:absolute;
top:0;
left:80px;
z-index:2;
}

.img-main{
width:340px;
border-radius:25px;
border:8px solid #fff;
position:absolute;
top:100px;
left:180px;
z-index:3;
}

.experience{
position:absolute;
top:60px;
left:169px;
display:flex;
align-items:center;
gap:10px;
z-index:4;
}

.exp-number{
color:#ff9800;
font-size:42px;
font-weight:700;
}

.exp-text{
font-size:14px;
color:#bbb;
}
/*
.factory-bg{
position:absolute;
bottom:-30px;
left:-50px;
width:420px;
height:220px;
background:url("images/factory-line.png") no-repeat;
background-size:contain;
opacity:0.5;
}*/

.content-col{
padding-left:50px;
}

.section-subtitle{
color:#ff9800;
letter-spacing:2px;
font-size:14px;
}

.section-title{
font-size:40px;
font-weight:600;
margin-bottom:15px;
}

.section-title span{
font-weight:700;
}

.section-text{
color:#9b8e8e;
margin-bottom:25px;
}

.about-list{
list-style:none;
padding:0;
margin-bottom:25px;
}

.about-list li{
margin-bottom:10px;
color:#000;
gap: 6px;
}

.about-bottom{
display:flex;
align-items:center;
gap:40px;
flex-wrap:wrap;
}

.contact-btn{
padding:12px 30px;
font-weight:600;
}

.rating-card{
background:#eee;
color:#666;
padding:40px 30px;
border-radius:25px;
text-align:center;
min-width:200px;
}

.stars{
color:#ff9800;
font-size:20px;
margin-bottom:10px;
}

.approach-section{
background:url("/assets//Background\ \(1\).png") center/cover no-repeat;
padding:50px 0;
padding-bottom: 0;
position:relative;
color:white;

}

.approach-section::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.approach-section .container{
position:relative;
z-index:2;
}

.approach-subtitle{
color:#ff9800;
letter-spacing:2px;
font-size:14px;
}

.approach-title{
font-size:42px;
font-weight:500;
margin-bottom:20px;
}

.approach-title strong{
font-weight:700;
}

.approach-text{
color:#ccc;
font-size:15px;
line-height:1.7;
}

.approach-card{
background:#fff;
color:#333;
margin-top:60px;
border-radius:25px;
padding:0;
box-shadow:0 20px 40px rgba(0,0,0,0.25);
overflow:hidden;
}

.approach-tabs{
border-bottom:none;
}

.approach-tabs .nav-link{
padding:20px 40px;
border:none;
font-weight:600;
color:#555;
}
.approach-tabs .nav-link.active{
background:#ff9800;
color:white;
border-radius:20px 0 0 0;
}

.tab-content{
padding:40px;

}

.mission-text{
color:#666;
margin-bottom:25px;
}

.mission-list{
list-style:none;
padding:0;
}

.mission-list li{
margin-bottom:12px;
position:relative;
padding-left:25px;
}

.mission-list li::before{
content:"⚙";
position:absolute;
left:0;
color:#ff9800;
}

.mission-img{
border-radius:20px;
max-width:380px;
}

.history-section{
background:#f4f4f4;
}

.history-sub{
color:#000;
letter-spacing:2px;
font-size:14px;
}

.history-title{
font-size:40px;
text-align: left;
}

.history-title strong{
font-weight:700;
}

.history-text{
color:#777;
line-height:1.6;
}

.timeline-card{
background:#fff;
border-radius:15px;
overflow:hidden;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.timeline-item{
padding:16px 20px;
border-bottom:1px solid #eee;
font-size:14px;
font-weight: 400;
color:#000;
}

.timeline-item:last-child{
border-bottom:none;
}

.timeline-item.active{
background:#ff9800;
color:#fff;
font-weight:600;
}

.company-title{
font-size:32px;
}

.company-text{
color:#777;
margin-bottom:25px;
}

.history-list{
list-style:none;
padding:0;
}

.history-list li{
margin-bottom:12px;
position:relative;
padding-left:28px;
}

.history-img{
border-radius:20px;
max-width:320px;
}

/*************services about section **************/
.solutions-left{
padding:100px 0;
background:linear-gradient(90deg,#111,#1a1a1a);
}

.sub-title{
color:#ff9800;
letter-spacing:2px;
font-size:14px;
}

.main-title{
font-size:44px;
font-weight:500;
margin-bottom:40px;
}

.main-title strong{
font-weight:700;
}

.service-grid{
row-gap:30px;
}

.service-card{
background:#1e1e1e;
padding:30px;
border-radius:20px;
border:1px solid rgba(255,255,255,0.05);
transition:0.3s;
}

.service-card.light{
background:#2a2a2a;
}

.service-card:hover{
transform:translateY(-5px);
}

.icon{
font-size:28px;
color:#ff9800;
margin-bottom:10px;
}

.service-card h5{
margin-bottom:10px;
}

.service-card p{
color:#bbb;
font-size:14px;
}

.quote-text{
margin-top:40px;
color:#aaa;
}

.quote-text span{
color:#ff9800;
font-weight:600;
cursor:pointer;
}

.image-side{
position:relative;
}

.image-side img{
width:100%;
height:100%;
object-fit:cover;
}

.circle-btn{
position:absolute;
left:-40px;
top:50%;
transform:translateY(-50%);
width:80px;
height:80px;
background:#ff9800;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
color:white;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.feature-box{
background:white;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

@media(max-width:991px){
    .image-col{
margin-bottom:120px;
min-height:400px;
}

.img-top{
left:20px;
width:180px;
}

.img-main{
left:80px;
width:280px;
}

.content-col{
padding-left:0;
text-align:center;
}

.about-bottom{
justify-content:center;
}

.approach-title{
font-size:32px;
}

.approach-text{
margin-top:20px;
}

.approach-card{
margin-top:40px;
}

.history-title{
font-size:32px;
}

.company-title{
margin-top:30px;
}

.timeline-card{
margin-bottom:30px;
}
}

/****************ANIMATION***********************/

.btn-animate{
position: relative;
overflow: hidden;
z-index: 1;
color: #fff;
background-color: var(--primary-color);
transition: color 0.4s ease;
}

.btn-animate::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;
background-color: #c57703;
z-index: -1;
transition: width 0.4s ease;
}

.btn-animate:hover{
color: #fff;
}

.btn-animate:hover::before{
width: 100%;
}

.btn-slide{
position: relative;
overflow: hidden;
z-index: 1;
color: #000;
background-color: #fff;
border: 2px solid #000;
transition: color 0.4s ease;
}

.btn-slide::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;
background-color: #000;
z-index: -1;
transition: width 0.4s ease;
}

.btn-slide:hover{
color: #fff;
}

.btn-slide:hover::before{
width: 100%;
}

.zoom-img{
overflow:hidden;
}

.zoom-img img{
width:100%;
transition:0.5s;
}

.zoom-img:hover img{
transform:scale(1.1);
}